<template>
  <div class="container">
    <div class="contentWrap">
      <h1>Sing In</h1>
      <div class="wrap">
        <label>Email</label>
        <input type="text" placeholder="Enter Email" />
      </div>
      <div class="wrap">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" />
      </div>
      <button>Sign In</button>
      <p>Don't have an account? <span>Sign Up</span></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginPage",
};
</script>

<style scoped>
.container {
  background: rgb(248, 237, 237);
  height: 100vh;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWrap {
  width: 25em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background: linear-gradient(
    to bottom right,
    rgb(218, 8, 8),
    rgb(201, 201, 4)
  );
}
.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
h1{
    text-align: center;
    color: white;
    padding: 10px 0px;
}
input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
p {
  text-align: center;
}
span {
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;
}
</style>