<template>
  <div class="container">
    <div class="contentWrap">
        <h1>Sign Up</h1>
      <div class="flexbox">
        <div class="wrap">
          <label>Full name</label>
          <input type="text" placeholder="Enter full name" />
        </div>
        <div class="wrap">
          <label>Phone number</label>
          <input type="number" placeholder="Enter phone number" />
        </div>
      </div>
      <div class="flexbox">
        <div class="wrap">
          <label>Email</label>
          <input type="text" placeholder="Enter Email" />
        </div>
        <div class="wrap">
          <label>Password</label>
          <input type="password" placeholder="Enter Password" />
        </div>
      </div>
      <button>Sign Up</button>
      <p>Have an account? <span>Sign In</span></p>
    </div>
  </div>
</template>
  
  <script>
export default {
  name: "SignUpPage",
};
</script>
  
  <style scoped>
.container {
  background: rgb(248, 237, 237);
  height: 100vh;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWrap {
  width: 35em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: linear-gradient(
    to bottom right,
    rgb(218, 8, 8),
    rgb(201, 201, 4)
  );
}
.flexbox {
  display: flex;
  column-gap: 15px;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
h1{
    text-align: center;
    color: white;
    padding: 10px 0px;
}
input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
p {
  text-align: center;
}
span {
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;
}
@media (max-width: 500px) {
  .flexbox {
    flex-direction: column;
    row-gap: 15px;
  }
}
</style>