<template>
  <div id="app">
    <!-- <AppHeader msg="My Todo List" /> -->
    <LoginPage />
    <!-- <SignUpPage /> -->
  </div>
</template>

<script>
// import AppHeader from "./components/AppHeader.vue";
import LoginPage from "./pages/Login.vue";
// import SignUpPage from './pages/signUp.vue'

export default {
  name: "App",
  components: {
    // AppHeader,
    LoginPage,
    // SignUpPage
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: #2c3e50;
  background: black;
}
* {
  margin: 0px;
  padding: 0px;
}
</style>
